.tabs-header{border-style:none;}

.power-overflow-hidden{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.power-table-label{
    text-indent: 10px; 
    width: 130px; 
    text-align: right!important;
}

.power-table-sm-label{
    text-indent: 10px; 
    width: 100px; 
    text-align: right!important;
}

.power-table-medium-label{
    text-indent: 10px; 
    width: 260px; 
    text-align: left!important;
}

.power-table-lg-label{
    text-indent: 10px; 
    width: 400px; 
    text-align: left!important;
}

.power-line-height {
    height: 3px!important;
}

.power-textarea {
    font-size:14px!important;
    font-family: MicroSoft YaHei!important; 
    overflow-y:visible!important; 
    resize: vertical!important;
    padding: 0px 4px!important;
}

.tb{
    width:100%;
    margin:0;
    padding:5px 4px;
    border:1px solid #ccc;
    box-sizing:border-box;
}
.error-message{
    margin: 4px 0 0 0;
    padding: 0;
    color: red;
}
.power-input-high-tr{
	height: 35px;
}