@media screen and (min-width:35.5em)
{
.pure-u-sm-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-sm-1-24 {
	width: 4.16%;
}
.pure-u-sm-1-12 {
	width: 8.33%;
}
.pure-u-sm-2-24 {
	width: 8.33%;
}
.pure-u-sm-1-8 {
	width: 12.5%;
}
.pure-u-sm-3-24 {
	width: 12.5%;
}
.pure-u-sm-1-6 {
	width: 16.66%;
}
.pure-u-sm-4-24 {
	width: 16.66%;
}
.pure-u-sm-1-5 {
	width: 20%;
}
.pure-u-sm-5-24 {
	width: 20.83%;
}
.pure-u-sm-1-4 {
	width: 25%;
}
.pure-u-sm-6-24 {
	width: 25%;
}
.pure-u-sm-7-24 {
	width: 29.16%;
}
.pure-u-sm-1-3 {
	width: 33.33%;
}
.pure-u-sm-8-24 {
	width: 33.33%;
}
.pure-u-sm-3-8 {
	width: 37.5%;
}
.pure-u-sm-9-24 {
	width: 37.5%;
}
.pure-u-sm-2-5 {
	width: 40%;
}
.pure-u-sm-5-12 {
	width: 41.66%;
}
.pure-u-sm-10-24 {
	width: 41.66%;
}
.pure-u-sm-11-24 {
	width: 45.83%;
}
.pure-u-sm-1-2 {
	width: 50%;
}
.pure-u-sm-12-24 {
	width: 50%;
}
.pure-u-sm-13-24 {
	width: 54.16%;
}
.pure-u-sm-7-12 {
	width: 58.33%;
}
.pure-u-sm-14-24 {
	width: 58.33%;
}
.pure-u-sm-3-5 {
	width: 60%;
}
.pure-u-sm-5-8 {
	width: 62.5%;
}
.pure-u-sm-15-24 {
	width: 62.5%;
}
.pure-u-sm-2-3 {
	width: 66.66%;
}
.pure-u-sm-16-24 {
	width: 66.66%;
}
.pure-u-sm-17-24 {
	width: 70.83%;
}
.pure-u-sm-3-4 {
	width: 75%;
}
.pure-u-sm-18-24 {
	width: 75%;
}
.pure-u-sm-19-24 {
	width: 79.16%;
}
.pure-u-sm-4-5 {
	width: 80%;
}
.pure-u-sm-5-6 {
	width: 83.33%;
}
.pure-u-sm-20-24 {
	width: 83.33%;
}
.pure-u-sm-7-8 {
	width: 87.5%;
}
.pure-u-sm-21-24 {
	width: 87.5%;
}
.pure-u-sm-11-12 {
	width: 91.66%;
}
.pure-u-sm-22-24 {
	width: 91.66%;
}
.pure-u-sm-23-24 {
	width: 95.83%;
}
.pure-u-sm-1 {
	width: 100%;
}
.pure-u-sm-1-1 {
	width: 100%;
}
.pure-u-sm-5-5 {
	width: 100%;
}
.pure-u-sm-24-24 {
	width: 100%;
}
}
@media screen and (min-width:48em)
{
.pure-u-med-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-med-1-24 {
	width: 4.16%;
}
.pure-u-med-1-12 {
	width: 8.33%;
}
.pure-u-med-2-24 {
	width: 8.33%;
}
.pure-u-med-1-8 {
	width: 12.5%;
}
.pure-u-med-3-24 {
	width: 12.5%;
}
.pure-u-med-1-6 {
	width: 16.66%;
}
.pure-u-med-4-24 {
	width: 16.66%;
}
.pure-u-med-1-5 {
	width: 20%;
}
.pure-u-med-5-24 {
	width: 20.83%;
}
.pure-u-med-1-4 {
	width: 25%;
}
.pure-u-med-6-24 {
	width: 25%;
}
.pure-u-med-7-24 {
	width: 29.16%;
}
.pure-u-med-1-3 {
	width: 33.33%;
}
.pure-u-med-8-24 {
	width: 33.33%;
}
.pure-u-med-3-8 {
	width: 37.5%;
}
.pure-u-med-9-24 {
	width: 37.5%;
}
.pure-u-med-2-5 {
	width: 40%;
}
.pure-u-med-5-12 {
	width: 41.66%;
}
.pure-u-med-10-24 {
	width: 41.66%;
}
.pure-u-med-11-24 {
	width: 45.83%;
}
.pure-u-med-1-2 {
	width: 50%;
}
.pure-u-med-12-24 {
	width: 50%;
}
.pure-u-med-13-24 {
	width: 54.16%;
}
.pure-u-med-7-12 {
	width: 58.33%;
}
.pure-u-med-14-24 {
	width: 58.33%;
}
.pure-u-med-3-5 {
	width: 60%;
}
.pure-u-med-5-8 {
	width: 62.5%;
}
.pure-u-med-15-24 {
	width: 62.5%;
}
.pure-u-med-2-3 {
	width: 66.66%;
}
.pure-u-med-16-24 {
	width: 66.66%;
}
.pure-u-med-17-24 {
	width: 70.83%;
}
.pure-u-med-3-4 {
	width: 75%;
}
.pure-u-med-18-24 {
	width: 75%;
}
.pure-u-med-19-24 {
	width: 79.16%;
}
.pure-u-med-4-5 {
	width: 80%;
}
.pure-u-med-5-6 {
	width: 83.33%;
}
.pure-u-med-20-24 {
	width: 83.33%;
}
.pure-u-med-7-8 {
	width: 87.5%;
}
.pure-u-med-21-24 {
	width: 87.5%;
}
.pure-u-med-11-12 {
	width: 91.66%;
}
.pure-u-med-22-24 {
	width: 91.66%;
}
.pure-u-med-23-24 {
	width: 95.83%;
}
.pure-u-med-1 {
	width: 100%;
}
.pure-u-med-1-1 {
	width: 100%;
}
.pure-u-med-5-5 {
	width: 100%;
}
.pure-u-med-24-24 {
	width: 100%;
}
}
@media screen and (min-width:58em)
{
.pure-u-lrg-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-lrg-1-24 {
	width: 4.16%;
}
.pure-u-lrg-1-12 {
	width: 8.33%;
}
.pure-u-lrg-2-24 {
	width: 8.33%;
}
.pure-u-lrg-1-8 {
	width: 12.5%;
}
.pure-u-lrg-3-24 {
	width: 12.5%;
}
.pure-u-lrg-1-6 {
	width: 16.66%;
}
.pure-u-lrg-4-24 {
	width: 16.66%;
}
.pure-u-lrg-1-5 {
	width: 20%;
}
.pure-u-lrg-5-24 {
	width: 20.83%;
}
.pure-u-lrg-1-4 {
	width: 25%;
}
.pure-u-lrg-6-24 {
	width: 25%;
}
.pure-u-lrg-7-24 {
	width: 29.16%;
}
.pure-u-lrg-1-3 {
	width: 33.33%;
}
.pure-u-lrg-8-24 {
	width: 33.33%;
}
.pure-u-lrg-3-8 {
	width: 37.5%;
}
.pure-u-lrg-9-24 {
	width: 37.5%;
}
.pure-u-lrg-2-5 {
	width: 40%;
}
.pure-u-lrg-5-12 {
	width: 41.66%;
}
.pure-u-lrg-10-24 {
	width: 41.66%;
}
.pure-u-lrg-11-24 {
	width: 45.83%;
}
.pure-u-lrg-1-2 {
	width: 50%;
}
.pure-u-lrg-12-24 {
	width: 50%;
}
.pure-u-lrg-13-24 {
	width: 54.16%;
}
.pure-u-lrg-7-12 {
	width: 58.33%;
}
.pure-u-lrg-14-24 {
	width: 58.33%;
}
.pure-u-lrg-3-5 {
	width: 60%;
}
.pure-u-lrg-5-8 {
	width: 62.5%;
}
.pure-u-lrg-15-24 {
	width: 62.5%;
}
.pure-u-lrg-2-3 {
	width: 66.66%;
}
.pure-u-lrg-16-24 {
	width: 66.66%;
}
.pure-u-lrg-17-24 {
	width: 70.83%;
}
.pure-u-lrg-3-4 {
	width: 75%;
}
.pure-u-lrg-18-24 {
	width: 75%;
}
.pure-u-lrg-19-24 {
	width: 79.16%;
}
.pure-u-lrg-4-5 {
	width: 80%;
}
.pure-u-lrg-5-6 {
	width: 83.33%;
}
.pure-u-lrg-20-24 {
	width: 83.33%;
}
.pure-u-lrg-7-8 {
	width: 87.5%;
}
.pure-u-lrg-21-24 {
	width: 87.5%;
}
.pure-u-lrg-11-12 {
	width: 91.66%;
}
.pure-u-lrg-22-24 {
	width: 91.66%;
}
.pure-u-lrg-23-24 {
	width: 95.83%;
}
.pure-u-lrg-1 {
	width: 100%;
}
.pure-u-lrg-1-1 {
	width: 100%;
}
.pure-u-lrg-5-5 {
	width: 100%;
}
.pure-u-lrg-24-24 {
	width: 100%;
}
}
@media screen and (min-width:75em)
{
.pure-u-xl-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-1 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-2 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-2-3 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-3-4 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-2-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-3-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-4-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-5-5 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-5-6 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-3-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-5-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-7-8 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-5-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-7-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-11-12 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-2-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-3-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-4-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-5-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-6-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-7-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-8-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-9-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-10-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-11-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-12-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-13-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-14-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-15-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-16-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-17-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-18-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-19-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-20-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-21-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-22-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-23-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-24-24 {
	letter-spacing: normal; word-spacing: normal; vertical-align: top; display: inline-block; -ms-zoom: 1; text-rendering: auto;
}
.pure-u-xl-1-24 {
	width: 4.16%;
}
.pure-u-xl-1-12 {
	width: 8.33%;
}
.pure-u-xl-2-24 {
	width: 8.33%;
}
.pure-u-xl-1-8 {
	width: 12.5%;
}
.pure-u-xl-3-24 {
	width: 12.5%;
}
.pure-u-xl-1-6 {
	width: 16.66%;
}
.pure-u-xl-4-24 {
	width: 16.66%;
}
.pure-u-xl-1-5 {
	width: 20%;
}
.pure-u-xl-5-24 {
	width: 20.83%;
}
.pure-u-xl-1-4 {
	width: 25%;
}
.pure-u-xl-6-24 {
	width: 25%;
}
.pure-u-xl-7-24 {
	width: 29.16%;
}
.pure-u-xl-1-3 {
	width: 33.33%;
}
.pure-u-xl-8-24 {
	width: 33.33%;
}
.pure-u-xl-3-8 {
	width: 37.5%;
}
.pure-u-xl-9-24 {
	width: 37.5%;
}
.pure-u-xl-2-5 {
	width: 40%;
}
.pure-u-xl-5-12 {
	width: 41.66%;
}
.pure-u-xl-10-24 {
	width: 41.66%;
}
.pure-u-xl-11-24 {
	width: 45.83%;
}
.pure-u-xl-1-2 {
	width: 50%;
}
.pure-u-xl-12-24 {
	width: 50%;
}
.pure-u-xl-13-24 {
	width: 54.16%;
}
.pure-u-xl-7-12 {
	width: 58.33%;
}
.pure-u-xl-14-24 {
	width: 58.33%;
}
.pure-u-xl-3-5 {
	width: 60%;
}
.pure-u-xl-5-8 {
	width: 62.5%;
}
.pure-u-xl-15-24 {
	width: 62.5%;
}
.pure-u-xl-2-3 {
	width: 66.66%;
}
.pure-u-xl-16-24 {
	width: 66.66%;
}
.pure-u-xl-17-24 {
	width: 70.83%;
}
.pure-u-xl-3-4 {
	width: 75%;
}
.pure-u-xl-18-24 {
	width: 75%;
}
.pure-u-xl-19-24 {
	width: 79.16%;
}
.pure-u-xl-4-5 {
	width: 80%;
}
.pure-u-xl-5-6 {
	width: 83.33%;
}
.pure-u-xl-20-24 {
	width: 83.33%;
}
.pure-u-xl-7-8 {
	width: 87.5%;
}
.pure-u-xl-21-24 {
	width: 87.5%;
}
.pure-u-xl-11-12 {
	width: 91.66%;
}
.pure-u-xl-22-24 {
	width: 91.66%;
}
.pure-u-xl-23-24 {
	width: 95.83%;
}
.pure-u-xl-1 {
	width: 100%;
}
.pure-u-xl-1-1 {
	width: 100%;
}
.pure-u-xl-5-5 {
	width: 100%;
}
.pure-u-xl-24-24 {
	width: 100%;
}
}
* {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
*::before {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
*::after {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
html {
	font-family: "proxima-nova",sans-serif;
}
button {
	font-family: "proxima-nova",sans-serif;
}
input {
	font-family: "proxima-nova",sans-serif;
}
select {
	font-family: "proxima-nova",sans-serif;
}
textarea {
	font-family: "proxima-nova",sans-serif;
}
.pure-g [class*='pure-u'] {
	font-family: "proxima-nova",sans-serif;
}
body {
	color: rgb(119, 119, 119); line-height: 1.6; min-width: 320px;
}
h1 {
	color: rgb(75, 75, 75); font-weight: bold;
}
h2 {
	color: rgb(75, 75, 75); font-weight: bold;
}
h3 {
	color: rgb(75, 75, 75); font-weight: bold;
}
h4 {
	color: rgb(75, 75, 75); font-weight: bold;
}
h5 {
	color: rgb(75, 75, 75); font-weight: bold;
}
h6 {
	color: rgb(75, 75, 75); font-weight: bold;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1.12em;
}
a {
	color: rgb(59, 139, 186); text-decoration: none;
}
a:visited {
	color: rgb(38, 87, 120);
}
dt {
	font-weight: bold;
}
dd {
	margin: 0px 0px 10px;
}
aside {
	background: rgb(31, 141, 214); padding: 0.3em 1em; border-radius: 3px; color: rgb(255, 255, 255);
}
aside a {
	color: rgb(169, 226, 255);
}
aside a:visited {
	color: rgb(169, 226, 255);
}
#layout {
	padding-left: 0px; position: relative;
}
.active#layout {
	left: 160px; position: relative;
}
.active#layout #menu {
	left: 160px; width: 160px;
}
.l-box {
	padding: 1em;
}
.l-wrap {
	margin-right: auto; margin-left: auto;
}
.content .l-wrap {
	margin-right: -1em; margin-left: -1em;
}
.header {
	background: rgb(255, 255, 255); margin: 0px auto; padding: 1em; text-align: center; font-family: "omnes-pro",sans-serif; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; max-width: 98%;
}
.header h1 {
	margin: 0px; font-size: 300%; font-weight: 100;
}
.header h2 {
	margin: 0px; color: rgb(102, 102, 102); line-height: 1.5; font-size: 125%; font-weight: 100;
}
.content {
	margin: 1.5em auto; padding-right: 1em; padding-left: 1em; max-width: 98%;
}
.content .content-subhead {
	margin: 2em 0px 1em; color: rgb(136, 136, 136); font-weight: 300; position: relative;
}
.content .content-spaced {
	line-height: 1.8;
}
.content .content-quote {
	color: rgb(102, 102, 102); line-height: 1.8; padding-left: 1.5em; font-family: "Georgia",serif; font-style: italic; border-left-color: rgb(221, 221, 221); border-left-width: 5px; border-left-style: solid;
}
.content-link {
	background: url("/img/link-icon.png") no-repeat center / 20px 20px; top: 0px; width: 20px; height: 100%; right: 0px; display: block; position: absolute;
}
@media not all, all and (min-resolution:192dpi)
{
.content-link {
	background-image: url("/img/link-icon@2x.png");
}
}
pre {
	background: rgb(250, 250, 250); color: rgb(51, 51, 51); font-family: Consolas,"Liberation Mono",Courier,monospace;
}
code {
	background: rgb(250, 250, 250); color: rgb(51, 51, 51); font-family: Consolas,"Liberation Mono",Courier,monospace;
}
code {
	padding: 0.2em 0.4em; white-space: nowrap;
}
.content p code {
	font-size: 90%;
}
.code {
	border-width: 1px 0px; border-style: solid; border-color: rgb(238, 238, 238); padding: 1em; border-image: none; margin-right: -1em; margin-left: -1em; -ms-overflow-x: auto; -webkit-overflow-scrolling: touch;
}
.code code {
	background: none; padding: 0px; font-size: 95%; white-space: pre; -ms-word-wrap: normal;
}
.code-wrap code {
	white-space: pre-wrap; -ms-word-wrap: break-word;
}
.footer {
	background: rgb(250, 250, 250); padding: 1.14em; font-size: 87.5%; margin-top: 3.42em; border-top-color: rgb(238, 238, 238); border-top-width: 1px; border-top-style: solid;
}
.legal {
	margin: 0px auto; text-align: center; line-height: 1.6;
}
.legal-license {
	margin-top: 0px;
}
.legal-links {
	list-style: none; padding: 0px; margin-bottom: 0px;
}
.legal-copyright {
	margin-top: 0px; margin-bottom: 0px;
}
#layout {
	transition:0.2s ease-out; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out;
}
#menu {
	transition:0.2s ease-out; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out;
}
.menu-link {
	transition:0.2s ease-out; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out;
}
.active#layout .menu-link {
	left: 160px;
}
#menu {
	background: rgb(25, 24, 24); left: 0px; top: 0px; width: 160px; bottom: 0px; margin-left: -160px; position: fixed; z-index: 1000; -ms-overflow-y: auto; -webkit-overflow-scrolling: touch;
}
#menu a {
	padding: 0.62em 1em; border: currentColor; border-image: none; color: rgb(153, 153, 153); white-space: normal;
}
#menu .pure-menu-open {
	background: none; border: 0px currentColor; border-image: none;
}
#menu .pure-menu ul {
	background: none; border: currentColor; border-image: none;
}
#menu .pure-menu ul {
	border-top-color: rgb(51, 51, 51); border-top-width: 1px; border-top-style: solid;
}
#menu .pure-menu .menu-item-divided {
	border-top-color: rgb(51, 51, 51); border-top-width: 1px; border-top-style: solid;
}
#menu .pure-menu li a:hover {
	background: rgb(51, 51, 51);
}
#menu .pure-menu li a:focus {
	background: rgb(51, 51, 51);
}
.menu-link {
	background: rgba(0, 0, 0, 0.7); padding: 1em; left: 0px; top: 0px; width: 4em; height: 4em; font-size: 11px; display: block; position: fixed; z-index: 10;
}
.menu-link:hover {
	background: rgb(0, 0, 0);
}
.menu-link:focus {
	background: rgb(0, 0, 0);
}
.menu-link span {
	margin-top: 0.9em; display: block; position: relative;
}
.menu-link span {
	transition:0.4s; width: 100%; height: 0.2em; background-color: rgb(255, 255, 255); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s;
}
.menu-link span::before {
	transition:0.4s; width: 100%; height: 0.2em; background-color: rgb(255, 255, 255); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s;
}
.menu-link span::after {
	transition:0.4s; width: 100%; height: 0.2em; background-color: rgb(255, 255, 255); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s;
}
.menu-link span::before {
	top: -0.55em; position: absolute; content: " ";
}
.menu-link span::after {
	top: -0.55em; position: absolute; content: " ";
}
.menu-link span::after {
	top: 0.55em;
}
.active.menu-link span {
	background: none;
}
.active.menu-link span::before {
	transform: rotate(45deg) translate(0.5em, 0.4em); -webkit-transform: rotate(45deg) translate(.5em, .4em); -moz-transform: rotate(45deg) translate(.5em, .4em); -o-transform: rotate(45deg) translate(.5em, .4em);
}
.active.menu-link span::after {
	transform: rotate(-45deg) translate(0.4em, -0.3em); -webkit-transform: rotate(-45deg) translate(.4em, -.3em); -moz-transform: rotate(-45deg) translate(.4em, -.3em); -o-transform: rotate(-45deg) translate(.4em, -.3em);
}
#menu .pure-menu-heading {
	padding: 0.5em 0.8em; color: rgb(255, 255, 255); letter-spacing: 0.1em; font-size: 125%; font-weight: 300; margin-top: 0px;
}
#menu .pure-menu-heading:hover {
	color: rgb(153, 153, 153);
}
#menu .pure-menu-heading:focus {
	color: rgb(153, 153, 153);
}
#menu .pure-menu-selected {
	background: rgb(31, 141, 214);
}
#menu .pure-menu-selected a {
	color: rgb(255, 255, 255);
}
#menu li.pure-menu-selected a:hover {
	background: none;
}
#menu li.pure-menu-selected a:focus {
	background: none;
}
.pure-img-responsive {
	height: auto; max-width: 100%;
}
.pure-paginator .pure-button {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.pure-button {
	font-family: inherit;
}
a.pure-button-primary {
	color: white;
}
.pure-table th {
	padding: 0.5em 1em;
}
.pure-table td {
	padding: 0.5em 1em;
}
.table-responsive {
	margin-right: -1em; margin-left: -1em; -ms-overflow-x: auto; -webkit-overflow-scrolling: touch;
}
.table-responsive table {
	width: 100%; border-right-width: 0px; border-left-width: 0px; min-width: 35.5em;
}
.notice {
	color: white; background-color: rgb(97, 184, 66);
}
.muted {
	color: rgb(204, 204, 204);
}
@media screen and (min-width:35.5em)
{
.legal-license {
	margin: 0px; text-align: left;
}
.legal-copyright {
	margin: 0px; text-align: right;
}
.legal-links {
	margin: 0px; text-align: right;
}
.legal-links li {
	margin: 0px; text-align: right;
}
}
@media screen and (min-width:48em)
{
.l-wrap {
	padding-right: 1em; padding-left: 1em;
}
.l-wrap .content {
	padding-right: 1em; padding-left: 1em;
}
.content .l-wrap {
	margin-right: -2em; margin-left: -2em;
}
.header {
	padding-right: 1em; padding-left: 1em;
}
.content {
	padding-right: 1em; padding-left: 1em;
}
.header h1 {
	font-size: 350%;
}
.header h2 {
	font-size: 150%;
}
.content p {
	font-size: 1.12em;
}
.code {
	margin-right: auto; margin-left: auto; border-right-width: 1px; border-left-width: 1px;
}
.table-responsive {
	margin-right: auto; margin-left: auto;
}
.table-responsive table {
	border-right-width: 1px; border-left-width: 1px;
}
}
@media all and (min-width:58em)
{
#layout {
	left: 0px; padding-left: 160px;
}
#menu {
	left: 160px;
}
.menu-link {
	left: 160px; display: none; position: fixed;
}
.active#layout .menu-link {
	left: 160px;
}
}
.grid-example {
	background: rgb(51, 51, 51); border-radius: 5px; color: rgb(221, 221, 221);
}
.grid-example h3 {
	color: rgb(255, 255, 255);
}
.grids-unit {
	margin: 0.25em 0px; padding-left: 4.5em;
}
.grids-unit-width {
	width: 4em; text-align: right; line-height: 2em; padding-right: 0.5em; margin-left: -4.5em; vertical-align: baseline;
}
.grids-unit .grids-unit-width {
	font-family: Consolas,"Liberation Mono",Courier,monospace;
}
.grids-unit-details {
	background: rgb(250, 250, 250); position: relative;
}
.grids-unit-classnames {
	left: 0.5em; position: absolute;
}
.grids-unit-classname {
	margin-right: 1em;
}
.grids-unit-classname code {
	background: none; margin: 0px; padding: 0px;
}
.grids-unit-bar {
	background: rgb(238, 238, 238); height: 2em;
}
pre .comment {
	color: rgb(153, 153, 153);
}
pre .tag {
	color: rgb(85, 85, 85);
}
pre .tag-name {
	color: rgb(85, 85, 85);
}
pre .tag-name.support {
	color: rgb(85, 85, 85);
}
pre .keyword {
	font-weight: bold;
}
pre .css-property {
	font-weight: bold;
}
pre .vendor-prefix {
	font-weight: bold;
}
pre .sass {
	font-weight: bold;
}
pre .class {
	font-weight: bold;
}
pre .id {
	font-weight: bold;
}
pre .css-value {
	font-weight: bold;
}
pre .function.entity {
	font-weight: bold;
}
pre .function.storage {
	font-weight: bold;
}
pre .css-property {
	color: rgb(51, 51, 51);
}
pre .css-value {
	color: rgb(51, 51, 51);
}
pre .vendor-prefix {
	color: rgb(51, 51, 51);
}
pre .namespace.support {
	color: rgb(51, 51, 51);
}
pre .numeric.constant {
	color: rgb(0, 153, 153); font-weight: normal;
}
pre .unit.keyword {
	color: rgb(0, 153, 153); font-weight: normal;
}
pre .hex-color {
	color: rgb(0, 153, 153); font-weight: normal;
}
pre .attribute {
	color: rgb(117, 117, 117);
}
pre .variable {
	color: rgb(117, 117, 117);
}
pre .support {
	color: rgb(117, 117, 117);
}
pre .string {
	color: rgb(59, 139, 186); font-weight: normal;
}
pre .value.support {
	color: rgb(59, 139, 186); font-weight: normal;
}
.trs-tags {
	font-family: "Î¢ÈíÑÅºÚ","ËÎÌå",Arial,Helvetica,sans-serif;
}
.header h1 {
	font-family: "Î¢ÈíÑÅºÚ","ËÎÌå",Arial,Helvetica,sans-serif;
}
.header h2 {
	font-family: "Î¢ÈíÑÅºÚ","ËÎÌå",Arial,Helvetica,sans-serif;
}
.trs-hd {
	padding: 0px 1em; height: 50px; line-height: 50px; overflow: visible; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.trs-hd-title {
	margin: 0px; height: 50px; line-height: 50px; overflow: hidden; font-weight: 100; float: left;
}
.trs-hd-more {
	margin: 0px; overflow: hidden; float: right;
}
.trs-tabs {
	margin: 0px; padding: 0px; height: 50px; overflow: visible;
}
.trs-tabs li {
	padding: 0px 15px; border: 1px solid rgb(238, 238, 238); border-image: none; height: 50px; line-height: 50px; letter-spacing: 1px; overflow: hidden; font-weight: bold; margin-bottom: -2px; margin-left: 10px; float: left; list-style-type: none; background-color: rgb(246, 246, 246);
}
.trs-tabs li.current {
	border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 255, 255);
}
.trs-tabs a:link {
	color: rgb(85, 85, 85);
}
.trs-tabs a:visited {
	color: rgb(85, 85, 85);
}
.trs-tabs a:hover {
	color: rgb(85, 85, 85);
}
.trs-bd {
	margin: 0px auto; padding: 10px; width: 98%; overflow: hidden;
}
.trs-code {
	margin: 0px; padding: 1em; border: 1px solid rgb(238, 238, 238); border-image: none; width: 100%; height: 150px; line-height: 1.5em; font-family: Consolas,Arial,Helvetica,sans-serif; font-size: 14px;
}
.trs-code:hover {
	background-color: rgb(246, 246, 246);
}
.trs-code-h-400 {
	height: 400px;
}
.footer {
	margin: 0px auto; padding: 1em; text-align: center; overflow: hidden; clear: both; font-size: 14px; border-top-color: rgb(238, 238, 238); border-top-width: 2px; border-top-style: solid; background-color: rgb(246, 246, 246);
}
.hide {
	display: none;
}
